.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 5px 5px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10 16px;
  border-radius: 6px;
}

.nav-text a:hover {
  background-color: #dde7f2;
}

span {
  margin-left: 16px;
}
