.container {
  background-color: #25274D;
  height: 100vh;
  width: 100%;
  display: grid;
 
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10%;
  grid-template-areas:
    "header header "
    "nav content  "
    "nav content ";
}

.header {
  background-color:#C3CDD7;
  grid-area: header;
}

.nav {
  background-color: #ADD8E6;
  grid-area: nav;
}

.content {
  background-color: #fff;
  grid-area: content;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}